:root {
    --primary-color: #336666;
    --secondary-color: #99cccc;
    --tertiary-color: #333333;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, Arial, sans-serif;
  }

header {
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 9999;
    align-items: center;
    padding: 15px 75px 15px 0;
  }

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header h1 a {
    background-color: var(--secondary-color);
    text-decoration: none;
    color: var(--tertiary-color);
    padding: 5px 5px 5px 55px;
    font-size: 25px;
    }

header ul span a {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 15px;
    padding: 25px;
    font-weight: bold;
    margin: 0 auto 5px auto;
}

.aboutme-line {
    border-bottom: solid 3px;
    border-color: var(--secondary-color);
    padding: 3px;
}

.work-line {
    border-bottom: solid 3px;
    border-color: var(--secondary-color);
    padding: 3px;
    margin-left: 20px;
}

.contactme-line {
    border-bottom: solid 3px;
    border-color: var(--secondary-color);
    padding: 3px;
    margin-left: 20px;
}

.resume-line {
    border-bottom: solid 3px;
    border-color: var(--secondary-color);
    padding: 3px;
    margin-left: 20px;
}

.hero {
    position: relative;
    text-align: center;
    color: var(--tertiary-color);
}

.hero-text {
    position: absolute;
    bottom: 100px;
    right: 80px;
    background-color: var(--secondary-color);
    font-size: 40px;
    padding: 10px;
}

.about-me {
    display: flex;
    justify-content: space-between;
}

.section-title {
    text-align: right;
    margin: 15px 30px 30px 100px;
    font-size: 25px;
    color: var(--primary-color);
}

.section-text {
    text-align: left;
    margin: 15px;
    padding-left: 40px;
    border-left: 5px solid;
    border-color: var(--primary-color);
    color: var(--primary-color);
}